<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="mysql.properties"/>

    <typeAliases>
<!--        <typeAlias type="com.ivandu.spring.mybatis.pojo.User"/>-->
        <package name="com.ivandu.spring.mybatis.pojo"/>
    </typeAliases>

    <environments default="${environments.default}">
        <environment id="${environment.id}">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper class="com.ivandu.spring.mybatis.mapper.UserMapper"/>
    </mappers>
</configuration>