<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="student" class="com.ivandu.spring.di.pojo.Student">
        <property name="name" value="John"/>
        <property name="address" ref="address"/>
        <property name="books">
            <array>
                <value>《红楼梦》</value>
                <value>《西游记》</value>
                <value>《三国演义》</value>
                <value>《水浒传》</value>
            </array>
        </property>
        <property name="hobbies">
            <list>
                <value>听歌</value>
                <value>看电影</value>
                <value>写代码</value>
            </list>
        </property>
        <property name="card">
            <map>
                <entry key="身份证" value="4302811998122231123"/>
                <entry value="6220000343439844" key="银行卡号"/>
            </map>
        </property>
        <property name="games">
            <set>
                <value>LOL</value>
                <value>COC</value>
                <value>BOB</value>
            </set>
        </property>
        <property name="wife">
            <null/>
        </property>
        <property name="info">
            <props>
                <prop key="学号">20210201</prop>
                <prop key="性别">男</prop>
                <prop key="姓名">张三</prop>
            </props>
        </property>
    </bean>
    <bean id="address" class="com.ivandu.spring.di.pojo.Address">
        <property name="address" value="中国北京"/>
    </bean>
</beans>